main {
    display: grid;
    max-width: 1440px;
    height: calc(100% - 104.72px);
    margin: 0 auto;
    padding: 0 40px;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "esquerda direita";

}   

main .left {
    grid-area: esquerda;
    height: 100%;
    display: grid;
    align-items: center;

    padding-top: 20px;
}

main .left .container span {
    color: hsl(231, 7%, 65%);
}

main .left .container .top span:first-of-type {
    color: #fff;
    background: hsl(230, 29%, 20%);
    padding: 5px 10px;
    border-radius: 50px;
}

main .left .container .top span:last-of-type {
    letter-spacing: 5px;
    padding-left: 15px;
}

main .left .container h1 {
    color: hsl(230, 29%, 20%);
    padding-top: 30px;
    font-family: 'Barlow Condensed';
    font-weight: 900;
    font-size: 90px;
}

main .left .container .bottom {
    padding-top: 40px;
}

main .left .container .bottom button {
    padding: 15px 25px;
    background: hsl(0, 100%, 68%);
    color: white;
    border: none;
    border-radius: 3px;
}

main .left .container .bottom button:hover {
    opacity: 0.9;
    transition: 0.1s;
    cursor: pointer;
}

main .left .container .bottom span {
    padding-left: 20px;
    letter-spacing: 2px;
}

main .right {
    grid-area: direita;
    height: 100%;
    align-items: center;
    display: grid;
    align-items: center;
    padding-top: 20px;
}

main .right img {
    width: calc(100% * 1.70);
}

@media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        height: auto;
        padding: 0 40px;
    }

    main .left, main .right {
        display: block;
        height: auto;
        padding-top: 60px;
    }

    main .left {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    main .left .container .bottom {
        padding-bottom: 50px;
    }
}